# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log

# Virtual environments
venv/
myenv/

# Django
*.pyc
*.pyo
*.pyd
*.db
staticfiles/
media/

# VSCode / PyCharm
.vscode/
.idea/

# Env
.env

# Docker
*.pid
*.sock
Dockerfile
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
